body {
    font-family: "Avenir Next";
}
li {
    list-style: none;
}

.head {
    background-color: #f7f2b4;
    height: 90px;
    padding: 20px;
    font-size: 100px;
}

.main {
    background-color: #bdf7f1;
    height: 600px;
    font-size: 100px;
}

.footer {
    background-color: #ceccf3;
    height: 270px;
}