body {
    font-family: "Avenir Next";
    font-size: 40px;
}
li {
    list-style: none;
}
span{
    font-size: 40px;
    color: azure;
}

.header {
    background-color: #f7f2b4;
    height: 90px;
    /*padding: 10px;*/
    font-size: 60px;
}

.contexts {
    background-color: #bdf7f1;
    height: 600px;
    font-size: 50px;
}

.footer {
    background-color: #ceccf3;
    height: 270px;
}

.article {
    background-color: #f7f2b4;
    font-size: 40px;
    border-bottom: 1px solid #333;
}