body {
    font-family: "Avenir Next";
    font-size: 40px;
}
li {
    list-style: none;
}

.header {
    background-color: #f7f2b4;
    height: 90px;
    padding: 10px;
    font-size: 40px;
}

.main {
    background-color: #bdf7f1;
    height: 600px;
    font-size: 50px;
}

.footer {
    background-color: #ceccf3;
    height: 270px;
}